<div class="p-4">
  <h2 class="text-lg font-medium mb-4">Reservas</h2>
  <div class="bg-white shadow overflow-x-auto sm:rounded-md">
    <table class="min-w-full divide-y divide-gray-200">

      <thead class="bg-gray-50">
        <tr>
          <ng-container *ngFor="let coluna of colunasListagem">
            <th scope="col" class="px-6 py-3 text-left text-md font-medium text-gray-500 uppercase tracking-wider">
              {{ coluna.nome }}
            </th>
          </ng-container>
        </tr>
      </thead>

      <tbody class="bg-white divide-y divide-gray-200">
        <ng-container *ngIf="reservas?.length; else semReservas">
          <tr *ngFor="let reserva of reservas">
            <td class="px-6 py-4 whitespace-nowrap">{{ reserva.id_reserva }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ reserva.nome }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ reserva.dia_reserva | date: 'dd/MM/yyy' }} às {{ reserva.hora_reserva }}</td>
            <td class="px-6 py-4 whitespace-nowrap">
              <span class="rounded-full px-2 py-1 text-sm font-semibold text-gray-700"
                    [ngClass]="{ 'bg-yellow-300': reserva.status === 'Pendente',
                                'bg-green-300': reserva.status === 'Concluída'}">
                {{ reserva.status }}
              </span>
            </td>
            
            <td class="px-6 py-4 whitespace-nowrap">{{ reserva.numero_mesa }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ reserva.total_pessoas }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium" *ngIf="reserva.status !== 'Pendente'">              
              <button class="text-yellow-600 hover:text-yellow-900 material-icons"  (click)="onDetalhes.emit(reserva)">
                  <ng-container *ngIf="reserva.mostrar_detalhes; else detalhes">
                      expand_more
                  </ng-container>
              </button>
          </td>
          </tr>

          <tr *ngFor="let reserva of reservas">
            <td colspan="7" class="px-6 py-4 whitespace-nowrap" *ngIf="reserva.mostrar_detalhes">
              <div class="text-sm font-medium text-gray-500">Detalhes do Consumo (Reserva {{ reserva.id_reserva }})</div>
              <ul class="mt-2 divide-y divide-gray-200">
                <li *ngFor="let item of reserva.itens_consumidos" class="py-2 flex justify-between">
                  <div class="text-md font-medium text-gray-900">{{ item.nome_prato }}</div>
                  <div class="text-md text-gray-500">{{ item.preco | currency: 'BRL' }}</div>
                </li>
                <li class="py-2 flex justify-between" *ngIf="reserva.mostrar_detalhes">
                  <div class="text-md font-medium text-gray-900"> Total</div>
                  <div class="text-md text-gray-800"><strong>{{ reserva.total_conta | currency: 'BRL' }}</strong></div>
                </li>
              </ul>
            </td>
          </tr>

        </ng-container>
        
      </tbody>

    </table>
  </div>
</div>

<ng-template #detalhes>
  expand_less
</ng-template>

<ng-template #semReservas>
  <tr>
    <td colspan="7" class="px-6 py-4 whitespace-nowrap text-xl font-medium text-gray-500 text-center">
      <span class="material-icons text-5xl text-yellow-500">sentiment_very_dissatisfied</span>
      <br>
      Poxa, parece que você ainda não fez nenhuma reserva.
      <br>
      Que tal aproveitar e fazer a sua agora mesmo?
    </td>
  </tr>
</ng-template>